.bitbirr-exchange-form {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.transaction-type {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.transaction-type.active {
    background-color: #4CAF50;
    color: white;
}

#loading {
    display: none;
    text-align: center;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}